[LayoutSettings]
backgroundStyle=1
color=green
customBackground=
customTextColor=
icon=
lastUsedActivity=597253c3-c317-4bb6-b2e6-f6bb05da8c8f
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
